@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before {
    border-color: #3f3f46;
  }
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
    font-family:
      ui-sans-serif,
      system-ui,
      sans-serif,
      "Apple Color Emoji",
      "Segoe UI Emoji";
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
